/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-items {
    display:block;
  } */
  
  /* When the hamburger icon is clicked, show the navbar items */
  /* .navbar-items.show {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
  } */
  
  /* Show the hamburger icon only on screens smaller than 768 pixels */
  /* @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
    } */
  
    /* Hide the navbar items when the hamburger icon is displayed */
    /* .navbar-items {
      display: none;
    }
  } */
  